!!! 5
%html{ :lang => "en"}
  %head
    %title= "Sinatra Bootstrap"
    %link{ :charset => "utf-8", :href => "/assets/application.css", 
           :media => "screen", :rel => "stylesheet", :type => "text/css" }
  %body
    %header
      %h1 Sinatra Bootstrap

    %section{:id => 'debug'}
      %p Sinatra, HAML, SASS, Coffeescript, jQuery, Underscore, Sprockets, Asset Packaging, Heroku, Pry
 
    %script{:type => "text/javascript", :src  => "assets/application.js"}
